a.welcome_links {color: #2E2E2E; }
a:visited.welcome_links { color: #2E2E2E; }
a:hover.welcome_links { text-decoration:underline }
h1{ font-size: 34px; }
h3{ font-size: 20px; }
p{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

div#facebook_messages {
    margin-bottom: 5px;
}

div#home_choices {
    margin-top: 35px;
	position:relative;
	height:260px;
}
div#home_choices_view {
	position:absolute;
	left:0px;
	width:205px;
}
div#home_choices_view_link {
    position: relative;
    left:35px;
    font-size: 16px;
}
div#home_choices_byoblogo {
	position:absolute;
	top:-65px;
	left:189px;
	width:332px;
	border-color:#d4dae8;
	border-width:2px;
}
div#home_choices_create {
	position:absolute;
	left:488px;
	width:216px;
}
div#home_choices_create_link {
    position: relative;
    left: 65px;
    font-size: 16px;
}
