a.welcome_links {color: #2E2E2E; }
a:visited.welcome_links { color: #2E2E2E; }
a:hover.welcome_links { text-decoration:underline }
h1{ font-size: 34px; }
h3{ font-size: 20px; }
p{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

div#byob_graphics{
  left: 75px;
  height: 106px;
  width: 530px;
  position:relative;
}

div#graphic_1{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 200px;
}

div#graphic_2{
  position: absolute;
  left: 125px;
  top: 0px;
  width: 100px;
}

div#graphic_3{
  position: absolute;
  right: 50px;
  top: 0px;
  width: 100px;
}

div#byob_home_nav{
  left: 72px;
  position: relative;
  width: 615px;
  height: 60px;
}


div#byob_home_bg{
  position: relative;
  background-repeat: repeat-y;
  background-position: 50%;
  height:100%;
  width:100%;
  visibility: visible;
  top: 19px;
}

div#bg_top{
  position: relative;
  top: -35px;
  left: 57px;
}

div#bg_bot{
  position: relative;
  bottom: -9px;
  left: 57px;
}

.rides_banner_your{
  left: -74px;
  position: relative;
}

.rides_banner_watched{
  left: -70px;
  position: relative;
}


div#byob_home_content{
  top: -40px;
  left: 90px;
  position: relative;
}



div#current_user_rides td {
    font-size: 16px;
}

div#facebook_messages {
    margin-bottom: 5px;
}

div#home_choices {
    margin-top: 35px;
	position:relative;
	height:260px;
}
div#home_choices_view {
	position:absolute;
	left:0px;
	width:205px;
}
div#home_choices_view_link {
    position: relative;
    left:35px;
    font-size: 16px;
}
div#home_choices_byoblogo {
	position:absolute;
	top:-65px;
	left:189px;
	width:332px;
	border-color:#d4dae8;
	border-width:2px;
}
div#home_choices_create {
	position:absolute;
	left:488px;
	width:216px;
}
div#home_choices_create_link {
    position: relative;
    left: 65px;
    font-size: 16px;
}

.helper_text{
  color: #8C8282; 
  font-size: 16px;
}

