/* general html styleing */

h1 { 
  font-size: 23px; 
  color:black;
}

p, ol, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

.info_label {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
}

.input_label{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
}

a { color: #3b5998; }
a:visited { color: #3b5998; }
a:hover { text-decoration:underline }

.fb_button {
  background-color: #3b5998;
  border-color: #d8dfea rgb(14, 31, 91) rgb(14, 31, 91) rgb(216, 223, 234);
  border-style: solid;
  border-width: 1px;
  color: #fff;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-weight: bolder;
  font-size: 16px;
  padding: 2px 18px;
}

div#facebook_messages {
    margin-bottom: 5px;
}

/* divs common to ride pages */
div#rides_title {
  margin-bottom: 4px;
}

div#rides_mini_nav {
  margin-bottom: 10px;
  font-size: 15px;
}



