
div#fromtobanner{
  position: relative;
  left: -70px;
}

div#leavecomeimg{
  position: relative; 
  height: 145px;
  width: 525px;
  left: 32px;
}

div#leaveimg{
  position: absolute;
  top: 0px;
  left: 0px;
}

div#comeimg{
  position: absolute;
  top: 0px;
  left: 225px;
}

