/* general html styleing */

h1 { 
  font-size: 23px; 
  color:black;
}

p, ol, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

.info_label {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
}

.input_label{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
}

a { color: #3b5998; }
a:visited { color: #3b5998; }
a:hover { text-decoration:underline }

.fb_button {
  background-color: #3b5998;
  border-color: #d8dfea rgb(14, 31, 91) rgb(14, 31, 91) rgb(216, 223, 234);
  border-style: solid;
  border-width: 1px;
  color: #fff;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-weight: bolder;
  font-size: 16px;
  padding: 2px 18px;
}
a.fb_button:visited { color: #fff; }

.fb_button_danger {
  background-color: red;
  border-color: #d8dfea rgb(14, 31, 91) rgb(14, 31, 91) rgb(216, 223, 234);
  border-style: solid;
  border-width: 1px;
  color: #fff;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-weight: bolder;
  font-size: 16px;
  padding: 2px 18px;
}
a.fb_button_danger:visited { color: #fff; }

.dialog_content {
  font-size: 13px;
}

/* divs common to ride pages */

div#page_content {
  top: -40px;
  left: 90px;
  position: relative;
  width: 574px;
}

div#rides_title {
  margin-bottom: 4px;
}

div#rides_mini_nav {
  margin-bottom: 10px;
  font-size: 15px;
}

div#byob_graphics{
  left: 75px;
  height: 106px;
  width: 530px;
  position:relative;
}

div#graphic_1{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 200px;
}

div#graphic_2{
  position: absolute;
  left: 125px;
  top: 0px;
  width: 100px;
}

div#graphic_3{
  position: absolute;
  right: 50px;
  top: 0px;
  width: 100px;
}

div#byob_home_nav{
  left: 70px;
  position: relative;
  width: 615px;
  height: 60px;
}


div#byob_home_bg{
  position: relative;
  background-repeat: repeat-y;
  background-position: 50%;
  height:100%;
  width:100%;
  visibility: visible;
  top: 19px;
}

div#bg_top{
  position: relative;
  top: -35px;
  left: 57px;
}

div#bg_bot{
  position: relative;
  bottom: -9px;
  left: 57px;
}
