/* general html styleing */

h1 { font-size: 23px; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

a { color: #3b5998; }
a:visited { color: #3b5998; }
a:hover { text-decoration:underline }



/* divs common to ride pages */
div#rides_title {
  margin-bottom: 4px;
}

div#rides_navigation {
  margin-bottom: 10px;
}


/* divs for ride listing page */
div#rides_listing_fromcampus_col {
  float: left;
  width:380px;
}

div#rides_listing_tocampus_col {
  float: right;
  width:380px;
}

div#rides_listing_tocampus_title {
  margin-left: 100px;
  font-size: 16px;
}

div#rides_listing_fromcampus_title {
  margin-left: 85px;
  font-size: 16px;
}


/*divs for individual ride (show) page */

div#rides_show_driver_box {
  width: 200px;
  float:left;
  margin: 0 15px 15px 0;
}

div#rides_show_driver_profile {
  text-align:center;
  font-size:16px;
  background-color: #EEE;
  border: 1px solid #999;
  width:auto;
}

div#rides_show_info_box {
  width: 400px;
  float:left;
}

div#rides_show_info {
  margin-left:15px;
}

div#rides_show_passengers {
  clear:both;
}

.rides_show_passenger_profile {
  float:left;
  width:100px;
  font-size:16px;
  margin: 0px 15px 15px 0px;
  border: 1px solid #999;
  background-color: #EEE;
}

.rides_show_passenger_pic {
  text-align: center;
}

.rides_show_profile_caption {
  text-align: center;
}

div#rides_wall {
  width:400px;
  text-size: 14px;
  clear:both;
}

div#rides_wall_post_entry_box {
  background-color:#EEE; 
  border: 1px solid #BBB;
  border-top: 2px solid #999;
}

div#rides_wall_post_entry_form {
  margin-left:8px;
  margin-right:8px;
  margin-top:7px;
}

.rides_wall_post_entry_form_text {
  border:1px solid #BBB;
  width: 97%;
}


div#rides_wall_fb_button_box { 
  text-align: right;
  margin-top: 4px; 
  margin-bottom:7px;
}

.rides_wall_fb_button {
  background-color: #3b5998;
  border-color: #d8dfea rgb(14, 31, 91) rgb(14, 31, 91) rgb(216, 223, 234);
  border-style: solid;
  border-width: 1px;
  color: #fff;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-size: 11px;
  padding: 2px 18px;
}

/* divs for new/edit ride form */
div#rides_form_about_input {
  float:left;
  width:300px;
}

div#rides_form_about_detail_prompt {
  font-size:14px;
  width:200px;
  float:left;
}

div#rides_form_submit {
  margin-top:5px;
  clear:left;
}
