div#r_index_select_bg{
background-repeat: no-repeat;
height:900px;
width:100%;
top:0px;
visibility: visible;
left: 0px;
}

div#r_index_select_nav{
position: absolute;
left: 120px;
top: 157px;
}

div#r_index_select_content{
position: absolute;
left: 320px;
top: 356px;
}

