<%= stylesheet_link_tag 'rides_index_select' %>

<div id="page_content">

  <div id="leavecomeimg">
    <div id="leaveimg">
      <%= link_to image_tag('layout/leavelogo.png'), 
      rides_path(:tocampus => false, :view_past_rides => false) %>
    </div>
    <div id="comeimg">
      <%= link_to image_tag('layout/comelogo.png'), 
      rides_path(:tocampus => true, :view_past_rides => false) %>
    </div>
  </div>

  <div id="fromtobanner">
    <%= image_tag('layout/fromtobanner.jpg') %>
  </div>
</div>

