
<fb:fbml>

<%= stylesheet_link_tag 'errors' %>
<%= stylesheet_link_tag 'rides_style' %>

<div id="facebook_messages">
  <%= facebook_messages %>
</div>

<div style="display: none;">
<fb:tabs><fb:tab-item href="#" title="dummy"></fb:tab-item></fb:tabs>
</div>

<%= yield %>

<fb:fbml/>
