
<fb:fbml>

<%= stylesheet_link_tag 'scaffold' %>
<%= stylesheet_link_tag 'rides_style' %>
<p style="color: green"><%= flash[:notice] %></p>

<div style="display: none;">
<fb:tabs><fb:tab-item href="#" title="dummy"></fb:tab-item></fb:tabs>
</div>

<%= yield %>

<fb:fbml/>
